.root {
  .body {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
    .movie {
      width: calc(100% / 4 - 25px);
    }
  }
  input {
    padding: 20px;
    border-radius: 8px;
    background: #1a1a1a;
    color: white;
    border: 1px solid #262626;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 50px;
  }
}
