.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background: #1a1a1a;
  border: 1px solid #262626;
  img {
    width: 100%;
    height: 404px;
    border-radius: 12px;
    object-fit: cover;
  }
  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .time {
    display: flex;
    gap: 2px;
    align-items: center;
    width: Hug (107px) px;
    padding: 6px 10px;
    border-radius: 51px;
    background: #141414;
    border: 1px solid #262626;
    span {
      font-size: 12px;
      font-weight: 500;
      line-height: 24px;
    }
  }
  .rate {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 6px 10px;
    border-radius: 51px;
    background: #141414;
    border: 1px solid #262626;
    .stars {
      display: flex;
      gap: 2px;
      align-items: center;
      span {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
      }
    }
  }
}
