.root {
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 38px;
      font-weight: 700;
      line-height: 57px;
    }
    .slider {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 16px;
      border-radius: 12px;
      background: #0f0f0f;
      border: 1px solid #1f1f1f;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        border-radius: 8px;
        background: #1a1a1a;
        border: 1px solid #1f1f1f;
      }
      .pages {
        display: flex;
        align-items: center;
        gap: 3px;
      }
      .page {
        width: 16.33px;
        height: 4px;
        border-radius: 100px;
        background: #333333;
      }
      .pageActive {
        width: 18px;
        height: 4px;
        border-radius: 100px;
        background: #e50000;
      }
    }
  }
  .body {
    margin-top: 50px;
  }
}
