.root {
  .body {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 100px;
  }
  .left {
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 30px;
  }
  .box {
    padding: 50px;
    border-radius: 12px;
    border: 1px solid #262626;
    background: #1a1a1a;
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #999999;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: white;
  }
  .right {
    width: 519px;
    .box {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
  .boxItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .row {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .listItem {
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid #262626;
    background: #141414;
  }
  .rate {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #262626;
    background: #141414;
  }
  .block {
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #262626;
    background: #141414;
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 60px;
      height: 60px;
      border-radius: 8px;
      object-fit: cover;
    }
    .blockRight {
      display: flex;
      flex-direction: column;
    }
    h3 {
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      color: white;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #999999;
    }
  }
  .notFound {
    text-align: center;
    font-size: 24px;
    margin: 50px 0;
  }
}
